.head-title {
  border-bottom: 1px solid rgb(207, 207, 207);
}
.image-link > img {
  width: 160px;
  height: 70px;
}

.table-cell:where(th, td) {
  display: table-cell;
}

a:hover {
  color: #fd2c79;
}
.alert-container .alert {
  display: none;
}
.alert-dismissable {
  position: relative;
}
.alert {
  margin-bottom: 20px;
  border-radius: 0;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-dismissable .close {
  position: absolute;
  right: 18px;
  top: 14px;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity = 20);
  opacity: 0.2;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
